*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);

}


@property --rotate {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes borderAnimate {
    from {
        --rotate: 0deg;
    }to {
        --rotate: 360deg;
    }

    
}

.box {
    height: 400px;
    width: 300px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(200, 35, 35);
    padding-inline: 10px;
    padding-bottom: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0 0  50px rgb(255, 170, 0);
    border-radius: 3px;
    background: 
    linear-gradient(black) padding-box,
    conic-gradient(from var(--rotate),black,rgb(255, 111, 0),black) border-box;
    border: 5px solid rgba(255, 255, 255, 0);
    animation: borderAnimate 6s;
    animation-iteration-count: infinite;
 
}



.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}