*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgb(26,26,26),rgb(43, 43, 43),black);
    padding: 20px;
    overflow: auto;
    
}

section {
    height: 100%;
    width: 400px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

section::-webkit-scrollbar{
    display: none;
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    
}


.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom {
    padding: 30px 20px ;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.926));
    position: absolute;
    bottom: 0;
    

}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.bottom .user img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom  h3 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

.bottom .user button {
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.bottom .user button:hover {
    background-color: rgb(221, 221, 221);

}

.right {
    /* position: relative;
    display: flex;
    flex-direction: column;
    right: 600px;
    bottom: 130px;
    gap: 20px;
    justify-content: center; */
    position: absolute;
    right: 15px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 20px;

   
    
}

.right h4 {
cursor: pointer;
}

/* .like {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.comment {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.share {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.remix {
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.right>div {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;

}

.right i {
    
    font-size: 30px;
    align-items: center;
    cursor: pointer;
    /* background-color: red; */

}

.right > div h4 {
    color: white;
    font-size: 15px;
    pointer-events: none;
}

.love {
    color: red;
}

.mute {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.505);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    

}

.mute i {
    pointer-events: none;
}

.mute:active {
    scale: 0.95;
}

