*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: mediumslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#piano {
    height: 400px;
    width: 50%;
    background-color: black;
    display: flex;
    border: 1px solid black;
    padding-top: 80px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    
    
}


.white-key {
    width: 100%;
    height: 100%;
    display: flex;
    gap:3px;
    cursor: pointer;

}

.keys {
    height:300px;
    width: 100%;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 
}

.keys:hover {
    background-color: rgb(223, 222, 222);
}

.black-key {
    width: auto;
    height: 100%;
    cursor: pointer;
    
}

.black {
    width: 40px ;
    height: 18%;
    background-color: black;
    position: absolute;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.black:hover {
    background-color: rgb(60, 60, 60);
}


.black:nth-child(1) {
    left: 28%;
}

.black:nth-child(2) {
    left: 31.75%
}

.black:nth-child(3) {
    left: 38.5%;
}

.black:nth-child(4) {
    left: 42%;
}

.black:nth-child(5) {
    left: 45.5%;
}

.black:nth-child(6) {
    left: 52.5%;
}

.black:nth-child(7) {
    left: 56%;
}

.black:nth-child(8) {
    left: 62.75%;
}

.black:nth-child(9) {
    left: 66.5%;
}

.black:nth-child(10) {
    left: 69.8%
}