*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

#box {
    width: 350px;
    height: 350px;
    background-color: mediumpurple;
    border-radius: 10px;
    border: 3px solid black;
    

}



button {
    padding: 20px 40px;
    background-color: mediumaquamarine;
    margin-top: 40px;
    font-weight: 400;
    color: white;
    border-radius: 10px;
}

button:hover {
    background-color: mediumblue;
    
}

button:active {
    scale: 0.95;
}