*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    
}

body {
    background-image: url(https://i.pinimg.com/736x/b9/57/71/b95771aeb0d52b686f667a97ade2ac82.jpg);
    background-size: cover;
}


:root {
   --x:200px;
   --y:200px
}
.box {
    height: 100%;
    width: 100%;
    background: radial-gradient(150px at var(--x) var(--y), rgba(255, 0, 0, 0),rgba(0, 0, 0, 0.887));
} 



