*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

button {
    padding: 20px 60px;
    background-color: mediumslateblue;
    border: none;
    font-size: 40px;
    cursor: pointer;
    border-radius: 2px;
    position: relative;
    z-index: 9;

}

button:active {
    transform: translateY(5px); /* Move down slightly */
    box-shadow: 0 2px 0 blue; /* Reduce the shadow to simulate being pressed */
    background-color: mediumaquamarine}