*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

button {
    padding: 20px 40px;
    background-color: rgb(102, 112, 205);
    margin-top: 40px;
    font-weight: 400;
    color: white;
    border-radius: 10px;
}

h1 {
    font-size: 50px;
    background-color: mediumslateblue;
    border-radius: 10px;
    padding: 4px 60px;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: grey;
}

nav>h2 {
    color: rgb(243, 220, 72);
    font-size: 50px;
}

#box {
    height: 400px;
    width: 400px;
    background-color: aqua;
    margin-bottom: 20px;
    background-position: center;
    
}

#box> img {
    height: 400px;
    width: 400px;
    object-fit: cover;

}

h3 {
    font-size: 50px;
    position: absolute;
    top: 70px;
}

h4 {
    font-size: 30px;
    font-weight: 300;

}


