*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
html , body{
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
    
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:flex-start ;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 300px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid rgb(253, 135, 109);
    padding: 5px;
    
}

.image {
    width: 100%;
    height: 290px;
    border-radius: 10px;
    background-color: blueviolet;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-position: top;
    
    object-fit: cover;
}

.card h2 {
    text-decoration: underline;
    text-decoration-color: rgb(249, 136, 136);
    text-decoration-thickness: 2px;
    font-weight: 800;
    margin-top: 4px;
    margin-bottom: 4px;
}

.card p {
    color: rgb(67, 66, 66);
}